@import "variables";
@import "reset";

body{
    font-family: 'Lora', serif;
}

li{
    list-style-type: none;
}

nav{
    @include navi;
}

main{
    width: 55vw;
    height: 100vh;
    margin: 0 auto;
    padding: 10px;
    h1{
        color: $primaryColor;
        font-size: 4rem;
        line-height: 3rem;
        margin-bottom: 2px;
        margin-top: 2px;
    }
    .bottom{
        text-align: end;
    }
    .car{
        z-index: -2;
        img{
            max-width: 55vw;
        }
    }
}

.contact{
    @include contact-me;         
}