* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lora", serif;
}

li {
  list-style-type: none;
}

nav ul {
  display: flex;
  padding: 7px;
  justify-content: center;
}
nav ul li {
  padding: 5px;
  margin: auto 10px;
  color: #2a2f3f;
}
nav ul li a {
  color: #2a2f3f;
  text-decoration: none;
  position: relative;
  padding: 2px;
}
nav ul li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #2a2f3f;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
nav ul li a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
nav ul li a:hover {
  color: #364e98;
}

main {
  width: 55vw;
  height: 100vh;
  margin: 0 auto;
  padding: 10px;
}
main h1 {
  color: #364e98;
  font-size: 4rem;
  line-height: 3rem;
  margin-bottom: 2px;
  margin-top: 2px;
}
main .bottom {
  text-align: end;
}
main .car {
  z-index: -2;
}
main .car img {
  max-width: 55vw;
}

.contact {
  width: 100vw;
  height: 100vh;
  background-color: #364e98;
  color: white;
  position: relative;
  background-color: #2d4180;
}
.contact .big {
  width: 55vw;
  max-width: 704px;
  margin: 0 22.5vw;
  position: absolute;
  top: 50px;
}
.contact .big h1 {
  font-size: 3rem;
}
.contact .big ul {
  display: flex;
  padding: 5px 0;
}
.contact .big ul li {
  padding-right: 5px;
  margin-right: 2rem;
}
.contact .big ul li a {
  color: white;
  font-size: 1.5rem;
}
.contact .big form {
  margin-top: 60px;
}
.contact .big form .part {
  margin-top: 30px;
}
.contact .big form .part label {
  display: block;
}
.contact .big form .part input,
.contact .big form .part textarea {
  width: 100%;
  background-color: #a5afca;
  outline: none;
  border: none;
  padding: 10px;
  font-size: 0.8rem;
}
.contact .big form .but {
  padding-top: 35px;
}
.contact .big form .but button {
  padding: 1rem;
  width: 25%;
  border: none;
  font-size: 0.9rem;
}
.contact footer {
  position: absolute;
  bottom: 0;
  padding: 20px;
}
.contact footer h6 {
  width: 100vw;
  text-align: center;
}

.about-me {
  width: 100vw;
  height: 100vh;
  max-height: 750px;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1.5fr repeat(12, 70px) 1.5fr;
  grid-template-rows: repeat(11, 1fr);
  row-gap: 1rem;
  column-gap: 1.5rem;
}
.about-me .img-cont {
  background-image: url(../images/christina-wocintechchat-com-9-ohfp-Dicg-unsplash.jpg);
  background-size: cover;
  background-position: center;
  grid-row: 2/10;
  grid-column: 3/8;
}
.about-me .img-cont img {
  width: 100%;
  height: 100%;
}
.about-me .heading {
  grid-row: 2/10;
  grid-column: 8/13;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-me .heading .huge {
  font-size: 5rem;
  color: #364e98;
  margin: auto 0;
}

.story {
  width: 100vw;
  height: 100vh;
  background-color: #364e98;
  color: white;
  display: grid;
  grid-template-columns: 1.5fr repeat(12, 70px) 1.5fr;
  grid-template-rows: repeat(11, 1fr);
  row-gap: 1rem;
  column-gap: 1.5rem;
}
.story .p-huge {
  grid-column: 3/12;
  grid-row: 3/6;
  font-size: 2rem;
}
.story .p-body-a {
  grid-column: 3/6;
  grid-row: 6/7;
}
.story .p-body-a .p-bold-a {
  font-weight: bold;
}
.story .div-a {
  grid-column: 6/13;
  grid-row: 6/9;
}
.story .p-body-b {
  grid-column: 3/6;
  grid-row: 9/10;
}
.story .p-body-b .p-bold-b {
  font-weight: bold;
}
.story .div-b {
  grid-column: 6/13;
  grid-row: 9/12;
}

.projects {
  width: 70vw;
  height: 90vh;
}
.projects__items {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 5rem;
  gap: 1rem 1rem;
}
.projects__item {
  width: 30%;
  height: 40%;
  border-bottom: 5px solid #364e98;
  cursor: pointer;
  position: relative;
}
.projects__item img {
  width: 100%;
  height: 100%;
}
.projects__item::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: #364e98;
  opacity: 0;
  transition: all 1s;
}
.projects__item:hover::after {
  opacity: 0.7;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .about-me {
    width: 90vw;
    margin: auto;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }
  .about-me .img-cont {
    width: 100%;
    height: 70%;
  }
  .about-me .heading .huge {
    font-size: 2rem;
  }

  .story {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  .story .p-huge {
    width: 90vw;
    margin: 2rem 5vw;
    font-size: 1.8rem;
  }
  .story .p-body-a,
.story .p-body-b {
    width: 90vw;
    margin: 1rem 5vw 0.5rem;
  }
  .story .div-a, .story .div-b {
    width: 90vw;
    margin: 0rem 5vw 2rem;
  }
}

/*# sourceMappingURL=styles.css.map */
